flow.json
[{"id":"f84501ae.f8f44","type":"tab","label":"PoolSmartz","disabled":false,"info":""},{"id":"11d2a015.f810e","type":"subflow","name":"ToggleButton","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"4c5e9210.bdcbec"}]}],"out":[{"x":700,"y":100,"wires":[{"id":"4c5e9210.bdcbec","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"dc050d10.1678","type":"ui_group","z":"11d2a015.f810e","name":"Status","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"3807f29f.3849be","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f597f439.5d75a8","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"fa05bad.6060148","type":"ui_tab","z":"","name":"Pool","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"fcf5df1a.8e1d7","type":"ui_group","z":"","name":"Status","tab":"fa05bad.6060148","order":1,"disp":true,"width":"6","collapse":false},{"id":"4dc73966.be52d8","type":"ui_group","z":"","name":"Control","tab":"fa05bad.6060148","order":2,"disp":true,"width":"6","collapse":false},{"id":"4427379b.2ed4b8","type":"inject","z":"f84501ae.f8f44","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":80,"wires":[["7faeb2d4.005a8c"]]},{"id":"7faeb2d4.005a8c","type":"http request","z":"f84501ae.f8f44","name":"PoolGW Status","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://poolgw:8080/status","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":80,"wires":[["7e487a04.bf7834"]]},{"id":"7e487a04.bf7834","type":"json","z":"f84501ae.f8f44","name":"Parse JSON status","property":"payload","action":"obj","pretty":false,"x":190,"y":280,"wires":[["114d9021.f75fb","145bdd69.da3fe3","a93ffc93.9d2dc","4cdf5c08.b6b2a4","e742e372.cdcde","29106f8a.10035"]]},{"id":"e742e372.cdcde","type":"ui_gauge","z":"f84501ae.f8f44","name":"","group":"fcf5df1a.8e1d7","order":0,"width":0,"height":0,"gtype":"gage","title":"Water","label":"F","format":"{{msg.payload.WaterSensor.Water} | number:1}","min":"50","max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":160,"wires":[]},{"id":"114d9021.f75fb","type":"function","z":"f84501ae.f8f44","name":"MainPump Button Setup","func":"\nmsg.topicSet = msg.payload.MainPump.status;\nmsg.topic=\"INITIALIZE\";\nmsg.colourON= \"red\";\nmsg.colourOFF= \"green\";\nmsg.textON= \"Pump OFF\";\nmsg.textOFF= \"Pump ON\";\nmsg.fontON= \"black\";\nmsg.fontOFF= \"black\";\nmsg.payloadON= \"{\\\"Set\\\":{\\\"MainPump\\\": \\\"on\\\"}}\";\nmsg.payloadOFF= \"{\\\"Set\\\":{\\\"MainPump\\\": \\\"off\\\"}}\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":620,"wires":[["59505ae3.634584","615253c1.cfe43c"]]},{"id":"145bdd69.da3fe3","type":"function","z":"f84501ae.f8f44","name":"Booster Pump Button Setup","func":"msg.topicSet = msg.payload.BoosterPump.status;\nmsg.topic=\"INITIALIZE\";\nmsg.colourON= \"red\";\nmsg.colourOFF= \"green\";\nmsg.textON= \"Boost OFF\";\nmsg.textOFF= \"Boost ON\";\nmsg.fontON= \"black\";\nmsg.fontOFF= \"black\";\nmsg.payloadON= \"{\\\"Set\\\":{\\\"BoosterPump\\\": \\\"on\\\"}}\";\nmsg.payloadOFF= \"{\\\"Set\\\":{\\\"BoosterPump\\\": \\\"off\\\"}}\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":680,"wires":[["e6324e00.f4efd"]]},{"id":"a93ffc93.9d2dc","type":"function","z":"f84501ae.f8f44","name":"SWG Button Setup","func":"\nmsg.topicSet = msg.payload.SWG.status;\nmsg.topic=\"INITIALIZE\";\nmsg.colourON= \"red\";\nmsg.colourOFF= \"green\";\nmsg.textON= \"SWG OFF\";\nmsg.textOFF= \"SWG ON\";\nmsg.fontON= \"black\";\nmsg.fontOFF= \"black\";\nmsg.payloadON= \"{\\\"Set\\\":{\\\"SWG\\\": \\\"on\\\"}}\";\nmsg.payloadOFF= \"{\\\"Set\\\":{\\\"SWG\\\": \\\"off\\\"}}\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":740,"wires":[["419b43fe.b075dc"]]},{"id":"4cdf5c08.b6b2a4","type":"function","z":"f84501ae.f8f44","name":"Lighting Setup","func":"\nmsg.topicSet = msg.payload.Lighting.status;\nmsg.topic=\"INITIALIZE\";\nmsg.colourON= \"red\";\nmsg.colourOFF= \"green\";\nmsg.textON= \"Lighting OFF\";\nmsg.textOFF= \"Lighting ON\";\nmsg.fontON= \"black\";\nmsg.fontOFF= \"black\";\nmsg.payloadON= \"{\\\"Set\\\":{\\\"Lighting\\\": \\\"on\\\"}}\";\nmsg.payloadOFF= \"{\\\"Set\\\":{\\\"Lighting\\\": \\\"off\\\"}}\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":800,"wires":[["ac471ed5.12dd6"]]},{"id":"4c5e9210.bdcbec","type":"function","z":"11d2a015.f810e","name":"Initialize-switch button state","func":"\nvar state = context.get(\"state\")||\"OFF\";\n\n//  Look for a !X message to get values -- no button push.\nif ( msg.topicSet == \"ON\" || msg.topicSet == \"OFF\"){\n    context.set(\"colourOFF\", msg.colourOFF);\n    context.set(\"colourON\", msg.colourON);\n    context.set(\"textOFF\", msg.textOFF);\n    context.set(\"textON\", msg.textON);\n    context.set(\"fontOFF\", msg.fontOFF);\n    context.set(\"fortON\", msg.fontON);\n    context.set(\"payloadOFF\", msg.payloadOFF);\n    context.set(\"payloadON\", msg.payloadON);\n    state = msg.topicSet;\n}\n// If button pushed change state.\nif ( msg.payload == \"X\" )\n{\n    if (state == \"OFF\") {\n        state = \"ON\";\n    } else { // topicSet should be \"STOP\"\n        state = \"OFF\"\n    }\n    context.set(\"state\", state);\n}\nif (state == \"OFF\")\n{\n    //  Condition OFF\n    msg.payload = context.get(\"payloadOFF\");\n    msg.colour = context.get(\"colourOFF\");\n    msg.txt = context.get(\"textOFF\");\n    msg.fontclr = context.get(\"fontOFF\");\n} else\n{\n    //  Condition ON\n    msg.payload = context.get(\"payloadON\");\n    msg.colour = context.get(\"colourON\");\n    msg.txt = context.get(\"textON\");\n    msg.fontclr = context.get(\"fontON\");\n}\n \nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":100,"wires":[["d9f4f95e.4e9ce8"]]},{"id":"d9f4f95e.4e9ce8","type":"ui_button","z":"11d2a015.f810e","name":"ToggleButton","group":"4dc73966.be52d8","order":0,"width":"3","height":"1","passthru":false,"label":"{{msg.txt}}","tooltip":"","color":"{{msg.fontclr}}","bgcolor":"{{msg.colour}}","icon":"","payload":"X","payloadType":"str","topic":"CONTROL","x":410,"y":420,"wires":[["4c5e9210.bdcbec"]]},{"id":"59505ae3.634584","type":"subflow:11d2a015.f810e","z":"f84501ae.f8f44","name":"","x":450,"y":620,"wires":[["1e51b771.7dd7f9","1bdbc0a.a715d3f"]]},{"id":"e6324e00.f4efd","type":"subflow:11d2a015.f810e","z":"f84501ae.f8f44","name":"","x":450,"y":680,"wires":[["1e51b771.7dd7f9"]]},{"id":"419b43fe.b075dc","type":"subflow:11d2a015.f810e","z":"f84501ae.f8f44","name":"","x":410,"y":740,"wires":[["1e51b771.7dd7f9"]]},{"id":"ac471ed5.12dd6","type":"subflow:11d2a015.f810e","z":"f84501ae.f8f44","name":"","x":430,"y":800,"wires":[["1e51b771.7dd7f9"]]},{"id":"1ce0f5e7.a69b9a","type":"http request","z":"f84501ae.f8f44","name":"Send Control request","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://poolgw:8080/set","tls":"","persist":false,"proxy":"","authType":"","x":1280,"y":320,"wires":[["c273c356.e3afc","7faeb2d4.005a8c"]]},{"id":"1e51b771.7dd7f9","type":"switch","z":"f84501ae.f8f44","name":"Check for CONTROL topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"CONTROL","vt":"str"},{"t":"neq","v":"CONTROL","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":220,"wires":[["1ce0f5e7.a69b9a","e2357562.a2ca08"],[]]},{"id":"c273c356.e3afc","type":"debug","z":"f84501ae.f8f44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1280,"y":420,"wires":[]},{"id":"e2357562.a2ca08","type":"debug","z":"f84501ae.f8f44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1300,"y":160,"wires":[]},{"id":"29106f8a.10035","type":"debug","z":"f84501ae.f8f44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":100,"wires":[]},{"id":"615253c1.cfe43c","type":"debug","z":"f84501ae.f8f44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":500,"y":320,"wires":[]},{"id":"1bdbc0a.a715d3f","type":"debug","z":"f84501ae.f8f44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":920,"y":340,"wires":[]}]