flow.json
[{"id":"f84501ae.f8f44","type":"tab","label":"PoolSmartz","disabled":false,"info":""},{"id":"4427379b.2ed4b8","type":"inject","z":"f84501ae.f8f44","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":80,"wires":[["7faeb2d4.005a8c"]]},{"id":"7faeb2d4.005a8c","type":"http request","z":"f84501ae.f8f44","name":"PoolGW Status","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://poolgw/status","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":80,"wires":[["7e487a04.bf7834"]]},{"id":"7e487a04.bf7834","type":"json","z":"f84501ae.f8f44","name":"Parse JSON status","property":"payload","action":"","pretty":false,"x":250,"y":140,"wires":[["114d9021.f75fb","145bdd69.da3fe3","a93ffc93.9d2dc","4cdf5c08.b6b2a4"]]},{"id":"e742e372.cdcde","type":"ui_gauge","z":"f84501ae.f8f44","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Water","label":"F","format":"{{value} | number:1}","min":"50","max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":160,"wires":[]},{"id":"84decbd7.b43208","type":"function","z":"f84501ae.f8f44","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":160,"wires":[[]]},{"id":"114d9021.f75fb","type":"function","z":"f84501ae.f8f44","name":"MainPump Button Setup","func":"\nmsg.topicSet = msg.payload.MainPump.status;\nmsg.topic=\"INITIALIZE\";\nmsg.colourON= \"red\";\nmsg.colourOFF= \"green\";\nmsg.textON= \"Pump OFF\";\nmsg.textOFF= \"Pump ON\";\nmsg.fontON= \"black\";\nmsg.fontOFF= \"black\";\nmsg.payloadON= \"{\\\"Set\\\":{\\\"MainPump\\\": \\\"on\\\"}}\";\nmsg.payloadOFF= \"{\\\"Set\\\":{\\\"MainPump\\\": \\\"off\\\"}}\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":260,"wires":[[]]},{"id":"145bdd69.da3fe3","type":"function","z":"f84501ae.f8f44","name":"Booster Pump Button Setup","func":"msg.topicSet = msg.payload.BoosterPump.status;\nmsg.topic=\"INITIALIZE\";\nmsg.colourON= \"red\";\nmsg.colourOFF= \"green\";\nmsg.textON= \"Boost OFF\";\nmsg.textOFF= \"Boost ON\";\nmsg.fontON= \"black\";\nmsg.fontOFF= \"black\";\nmsg.payloadON= \"{\\\"Set\\\":{\\\"BoosterPump\\\": \\\"on\\\"}}\";\nmsg.payloadOFF= \"{\\\"Set\\\":{\\\"BoosterPump\\\": \\\"off\\\"}}\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":340,"wires":[[]]},{"id":"a93ffc93.9d2dc","type":"function","z":"f84501ae.f8f44","name":"SWG Button Setup","func":"\nmsg.topicSet = msg.payload.SWG.status;\nmsg.topic=\"INITIALIZE\";\nmsg.colourON= \"red\";\nmsg.colourOFF= \"green\";\nmsg.textON= \"SWG OFF\";\nmsg.textOFF= \"SWG ON\";\nmsg.fontON= \"black\";\nmsg.fontOFF= \"black\";\nmsg.payloadON= \"{\\\"Set\\\":{\\\"SWG\\\": \\\"on\\\"}}\";\nmsg.payloadOFF= \"{\\\"Set\\\":{\\\"SWG\\\": \\\"off\\\"}}\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":420,"wires":[[]]},{"id":"4cdf5c08.b6b2a4","type":"function","z":"f84501ae.f8f44","name":"Lighting Setup","func":"\nmsg.topicSet = msg.payload.Lighting.status;\nmsg.topic=\"INITIALIZE\";\nmsg.colourON= \"red\";\nmsg.colourOFF= \"green\";\nmsg.textON= \"Lighting OFF\";\nmsg.textOFF= \"Lighting ON\";\nmsg.fontON= \"black\";\nmsg.fontOFF= \"black\";\nmsg.payloadON= \"{\\\"Set\\\":{\\\"Lighting\\\": \\\"on\\\"}}\";\nmsg.payloadOFF= \"{\\\"Set\\\":{\\\"Lighting\\\": \\\"off\\\"}}\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":500,"wires":[[]]}]