flow.json
[{"id":"f84501ae.f8f44","type":"tab","label":"PoolSmartz","disabled":false,"info":""},{"id":"11d2a015.f810e","type":"subflow","name":"ToggleButton","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"4c5e9210.bdcbec"}]}],"out":[{"x":700,"y":140,"wires":[{"id":"9ae0e89a.ec9e88","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"dc050d10.1678","type":"ui_group","z":"11d2a015.f810e","name":"Status","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"3807f29f.3849be","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f597f439.5d75a8","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"fa05bad.6060148","type":"ui_tab","z":"","name":"Pool","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"fcf5df1a.8e1d7","type":"ui_group","z":"","name":"Status","tab":"fa05bad.6060148","order":1,"disp":true,"width":"6","collapse":false},{"id":"4dc73966.be52d8","type":"ui_group","z":"","name":"Control","tab":"fa05bad.6060148","order":2,"disp":true,"width":"6","collapse":false},{"id":"2c2f3f43.feb09","type":"ui_tab","z":"","name":"Controller ","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"7f4e9037.c0a4c","type":"ui_group","z":"","name":"Equipment","tab":"2c2f3f43.feb09","order":1,"disp":true,"width":"6","collapse":false},{"id":"4427379b.2ed4b8","type":"inject","z":"f84501ae.f8f44","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":160,"y":80,"wires":[["7faeb2d4.005a8c"]]},{"id":"7faeb2d4.005a8c","type":"http request","z":"f84501ae.f8f44","name":"PoolGW Status","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://poolgw:8080/status","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":80,"wires":[["7e487a04.bf7834"]]},{"id":"7e487a04.bf7834","type":"json","z":"f84501ae.f8f44","name":"Parse JSON status","property":"payload","action":"obj","pretty":false,"x":190,"y":160,"wires":[["114d9021.f75fb","145bdd69.da3fe3","a93ffc93.9d2dc","4cdf5c08.b6b2a4","360df633.920892","f95a6dba.47e8c","64207ea6.c25c","a5dcbd27.4cbf4","fb5e3276.2cab9","d89b943b.76a888","a59298ad.44ef08","29d04c31.838f44"]]},{"id":"e742e372.cdcde","type":"ui_gauge","z":"f84501ae.f8f44","name":"Water Temp Guage","group":"fcf5df1a.8e1d7","order":0,"width":0,"height":0,"gtype":"gage","title":"Water Temp","label":"F","format":"{{msg.value}}","min":"50","max":"90","colors":["#0c00b3","#e600c7","#cb3a3a"],"seg1":"","seg2":"","x":630,"y":160,"wires":[]},{"id":"114d9021.f75fb","type":"function","z":"f84501ae.f8f44","name":"MainPump Button Setup","func":"\nmsg.topicSet = msg.payload.MainPump.status;\nmsg.topic=\"INITIALIZE\";\nmsg.colourON= \"red\";\nmsg.colourOFF= \"green\";\nmsg.textON= \"Pump OFF\";\nmsg.textOFF= \"Pump ON\";\nmsg.fontON= \"black\";\nmsg.fontOFF= \"black\";\nmsg.payloadON= \"{\\\"Set\\\":{\\\"MainPump\\\": \\\"on\\\"}}\";\nmsg.payloadOFF= \"{\\\"Set\\\":{\\\"MainPump\\\": \\\"off\\\"}}\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":220,"wires":[["59505ae3.634584"]]},{"id":"145bdd69.da3fe3","type":"function","z":"f84501ae.f8f44","name":"Booster Pump Button Setup","func":"msg.topicSet = msg.payload.BoosterPump.status;\nmsg.topic=\"INITIALIZE\";\nmsg.colourON= \"red\";\nmsg.colourOFF= \"green\";\nmsg.textON= \"Boost OFF\";\nmsg.textOFF= \"Boost ON\";\nmsg.fontON= \"black\";\nmsg.fontOFF= \"black\";\nmsg.payloadON= \"{\\\"Set\\\":{\\\"BoosterPump\\\": \\\"on\\\"}}\";\nmsg.payloadOFF= \"{\\\"Set\\\":{\\\"BoosterPump\\\": \\\"off\\\"}}\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":260,"wires":[["e6324e00.f4efd"]]},{"id":"a93ffc93.9d2dc","type":"function","z":"f84501ae.f8f44","name":"SWG Button Setup","func":"\nmsg.topicSet = msg.payload.SWG.status;\nmsg.topic=\"INITIALIZE\";\nmsg.colourON= \"red\";\nmsg.colourOFF= \"green\";\nmsg.textON= \"SWG OFF\";\nmsg.textOFF= \"SWG ON\";\nmsg.fontON= \"black\";\nmsg.fontOFF= \"black\";\nmsg.payloadON= \"{\\\"Set\\\":{\\\"SWG\\\": \\\"on\\\"}}\";\nmsg.payloadOFF= \"{\\\"Set\\\":{\\\"SWG\\\": \\\"off\\\"}}\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":300,"wires":[["419b43fe.b075dc"]]},{"id":"4cdf5c08.b6b2a4","type":"function","z":"f84501ae.f8f44","name":"Lighting Setup","func":"\nmsg.topicSet = msg.payload.Lighting.status;\nmsg.topic=\"INITIALIZE\";\nmsg.colourON= \"red\";\nmsg.colourOFF= \"green\";\nmsg.textON= \"Lighting OFF\";\nmsg.textOFF= \"Lighting ON\";\nmsg.fontON= \"black\";\nmsg.fontOFF= \"black\";\nmsg.payloadON= \"{\\\"Set\\\":{\\\"Lighting\\\": \\\"on\\\"}}\";\nmsg.payloadOFF= \"{\\\"Set\\\":{\\\"Lighting\\\": \\\"off\\\"}}\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":340,"wires":[["ac471ed5.12dd6"]]},{"id":"4c5e9210.bdcbec","type":"function","z":"11d2a015.f810e","name":"Initialize-switch button state","func":"\nvar state = context.get(\"state\")||\"OFF\";\n\n//  Look for a !X message to get values -- no button push.\nif ( msg.topicSet == \"ON\" || msg.topicSet == \"OFF\"){\n    context.set(\"colourOFF\", msg.colourOFF);\n    context.set(\"colourON\", msg.colourON);\n    context.set(\"textOFF\", msg.textOFF);\n    context.set(\"textON\", msg.textON);\n    context.set(\"fontOFF\", msg.fontOFF);\n    context.set(\"fortON\", msg.fontON);\n    context.set(\"payloadOFF\", msg.payloadOFF);\n    context.set(\"payloadON\", msg.payloadON);\n    state = msg.topicSet;\n}\n// If button pushed change state.\nif ( msg.payload == \"X\" )\n{\n    if (state == \"OFF\") {\n        state = \"ON\";\n    } else { // topicSet should be \"STOP\"\n        state = \"OFF\"\n    }\n    context.set(\"state\", state);\n}\nif (state == \"OFF\")\n{\n    //  Condition OFF\n    msg.payload = context.get(\"payloadOFF\");\n    msg.colour = context.get(\"colourOFF\");\n    msg.txt = context.get(\"textOFF\");\n    msg.fontclr = context.get(\"fontOFF\");\n} else\n{\n    //  Condition ON\n    msg.payload = context.get(\"payloadON\");\n    msg.colour = context.get(\"colourON\");\n    msg.txt = context.get(\"textON\");\n    msg.fontclr = context.get(\"fontON\");\n}\n \nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":100,"wires":[["d9f4f95e.4e9ce8","9ae0e89a.ec9e88"]]},{"id":"d9f4f95e.4e9ce8","type":"ui_button","z":"11d2a015.f810e","name":"ToggleButton","group":"4dc73966.be52d8","order":0,"width":"3","height":"1","passthru":false,"label":"{{msg.txt}}","tooltip":"","color":"{{msg.fontclr}}","bgcolor":"{{msg.colour}}","icon":"","payload":"X","payloadType":"str","topic":"CONTROL","x":330,"y":220,"wires":[["4c5e9210.bdcbec"]]},{"id":"59505ae3.634584","type":"subflow:11d2a015.f810e","z":"f84501ae.f8f44","name":"","x":430,"y":220,"wires":[["1ce0f5e7.a69b9a"]]},{"id":"e6324e00.f4efd","type":"subflow:11d2a015.f810e","z":"f84501ae.f8f44","name":"","x":430,"y":260,"wires":[["1ce0f5e7.a69b9a"]]},{"id":"419b43fe.b075dc","type":"subflow:11d2a015.f810e","z":"f84501ae.f8f44","name":"","x":430,"y":300,"wires":[["1ce0f5e7.a69b9a"]]},{"id":"ac471ed5.12dd6","type":"subflow:11d2a015.f810e","z":"f84501ae.f8f44","name":"","x":430,"y":340,"wires":[["1ce0f5e7.a69b9a"]]},{"id":"1ce0f5e7.a69b9a","type":"http request","z":"f84501ae.f8f44","name":"Send Control request","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://poolgw:8080/set","tls":"","persist":false,"proxy":"","authType":"","x":660,"y":220,"wires":[["c273c356.e3afc","7faeb2d4.005a8c"]]},{"id":"c273c356.e3afc","type":"debug","z":"f84501ae.f8f44","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":280,"wires":[]},{"id":"360df633.920892","type":"function","z":"f84501ae.f8f44","name":"C to  F","func":"msg.value = parseFloat(msg.payload.WaterSensor.Water)*(9/5)+32;\nmsg.value = msg.value.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":160,"wires":[["e742e372.cdcde"]]},{"id":"9ae0e89a.ec9e88","type":"switch","z":"11d2a015.f810e","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"CONTROL","vt":"str"},{"t":"neq","v":"CONTROL","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":140,"wires":[[],[]]},{"id":"b68fb4d5.e5a418","type":"ui_gauge","z":"f84501ae.f8f44","name":"Temp of Sensor Case","group":"7f4e9037.c0a4c","order":1,"width":0,"height":0,"gtype":"gage","title":"Sensor Temp","label":"units","format":"{{msg.value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":380,"y":420,"wires":[]},{"id":"9fe57af7.d0fa98","type":"ui_gauge","z":"f84501ae.f8f44","name":"Humidity in Sensor Case","group":"7f4e9037.c0a4c","order":2,"width":0,"height":0,"gtype":"gage","title":"Sensor Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":460,"wires":[]},{"id":"f95a6dba.47e8c","type":"function","z":"f84501ae.f8f44","name":"C to F","func":"msg.value = parseFloat(msg.payload.WaterSensor[\"Case Temp\"])*(9/5)+32;\nmsg.value = msg.value.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":420,"wires":[["b68fb4d5.e5a418"]]},{"id":"1abffca4.8d4f13","type":"comment","z":"f84501ae.f8f44","name":"Equipment Status","info":"Display equipment status and schedule details.\n","x":190,"y":380,"wires":[]},{"id":"a59298ad.44ef08","type":"debug","z":"f84501ae.f8f44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":160,"y":680,"wires":[]},{"id":"64207ea6.c25c","type":"function","z":"f84501ae.f8f44","name":"Parse Humidity","func":"msg.value = parseFloat(msg.payload.WaterSensor[\"Case Humidity\"])\nmsg.value = msg.value.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":460,"wires":[["9fe57af7.d0fa98"]]},{"id":"a5dcbd27.4cbf4","type":"ui_gauge","z":"f84501ae.f8f44","name":"Sensor Recived Signal Strength","group":"7f4e9037.c0a4c","order":3,"width":0,"height":0,"gtype":"gage","title":"Signal Strength","label":"dbm","format":"{{msg.payload.WaterSensor.Signal}}","min":"-100","max":"0","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":230,"y":500,"wires":[]},{"id":"fb5e3276.2cab9","type":"ui_text","z":"f84501ae.f8f44","group":"7f4e9037.c0a4c","order":4,"width":0,"height":0,"name":"","label":"Water Sensor Update Time","format":"{{msg.payload.WaterSensor.Time}}","layout":"col-center","x":220,"y":540,"wires":[]},{"id":"2f889ef7.a31462","type":"ui_gauge","z":"f84501ae.f8f44","name":"Controller Case Temp","group":"7f4e9037.c0a4c","order":5,"width":0,"height":0,"gtype":"gage","title":"Controller Temp","label":"F","format":"{{msg.value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":380,"y":580,"wires":[]},{"id":"d89b943b.76a888","type":"function","z":"f84501ae.f8f44","name":"C to F","func":"msg.value = parseFloat(msg.payload.Controller.Temperature)*(9/5)+32;\nmsg.value = msg.value.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":580,"wires":[["2f889ef7.a31462"]]},{"id":"fb050023.ed04a","type":"ui_gauge","z":"f84501ae.f8f44","name":"Controller case humidity","group":"7f4e9037.c0a4c","order":6,"width":0,"height":0,"gtype":"gage","title":"Controller Humidity","label":"%","format":"{{msg.value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":620,"wires":[]},{"id":"29d04c31.838f44","type":"function","z":"f84501ae.f8f44","name":"Parse Humidity","func":"msg.value = parseFloat(msg.payload.Controller.Humidity)\nmsg.value = msg.value.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":620,"wires":[["fb050023.ed04a"]]}]